.title {
    text-align: center;
    background-color: var(--primary2);
    font-size: 3rem;
    padding: 30px 10px;
    border-radius: 12px;
    font-family: "Arimo", sans-serif;
    color: white;
    font-weight: bold;
    margin-bottom: 3vw;
    border: 2px solid var(--primary2);
    text-decoration: underline;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.subtitle{
    margin-left: 12px;
    font-family: "Arimo", sans-serif;
    font-size: 20pt;
    color: var(--secondary2);
}
.mainContent p{
    text-indent: 30px;
    font-family: "Arimo", sans-serif;
    text-align: justify;
}

@media (max-width: 991px) {
    .title {
        font-size: 2rem;
    }
}