.title {
    text-align: center;
    background-color: var(--primary2);
    font-size: 3rem;
    padding: 30px 10px;
    border-radius: 12px;
    font-family: "Arimo", sans-serif;
    color: white;
    font-weight: bold;
    margin-bottom: 3vw;
    border: 2px solid var(--primary2);
    text-decoration: underline;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.subtitle{
    margin-left: 12px;
    font-family: "Arimo", sans-serif;
    font-size: 20pt;
    color: var(--secondary1);
}
.mainContent p{
    text-indent: 30px;
    font-family: "Arimo", sans-serif;
    text-align: justify;
}

@media (max-width: 991px) {
    .title {
        font-size: 2rem;
    }
}

.subtitle{
    text-align: center;
    margin-bottom: 1rem;
}

.paginationContainer{
    display: flex;
    justify-content: center;
    margin: 24px 0 48px;
}

.pagination .page-item .page-link{
    cursor: pointer;
}

:global(.pagination) {
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem var(--primary1_20);
  margin-top: 1rem;
}

/* Links da paginação com a cor principal */
:global(.pagination .page-link) {
  color: var(--primary1);
  background: var(--primary5);
  border-color: transparent;
}

/* Hover */
:global(.pagination .page-link:hover) {
  color: var(--primary1);
  background-color: var(--primary4);
  border-color: var(--primary3);
}

:global(.pagination .page-item.active .page-link) {
  color: #fff;
  background-color: var(--primary1);
  border-color: var(--primary1);
}

:global(.pagination .page-item.disabled .page-link) {
  color: rgba(0, 0, 0, 0.3);
  background: var(--primary5);
  border-color: transparent;
}