.title{
    font-family: "Arimo", sans-serif;
    font-size: 24pt;
    color: var(--primary2);
    background-color: white;
    border: 2px solid var(--primary2);
    text-decoration: underline;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.subtitle{
    margin-left: 12px;
    font-family: "Arimo", sans-serif;
    font-size: 20pt;
    color: var(--secondary2);
}
.main-content p{
    text-indent: 30px;
    font-family: "Arimo", sans-serif;
    text-align: justify;
}