/* src/components/css/CallToAction.module.css */

.wrapper {
  /* Cores */
  background-color: var(--secundary5); 
  box-shadow: 0 0 5px rgba(0,0,0,0.5);

  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  
  box-sizing: border-box; 
}

/* Novo container interno para manter o texto alinhado e legível */
.container {
  max-width: 1200px; /* Ou a largura padrão do seu site */
  margin: 0 auto;    /* Centraliza o conteúdo */
  padding: 0 10px;   /* Margem de segurança para mobile */
  
  font-family: "Arimo", sans-serif;
  overflow-wrap: break-word;
}

.title {
  color: #c2410c; /* Orange-700 */
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 24px;
  text-decoration: underline;
}

.content {
  color: var(--black);
  font-size: 1.4rem;
  text-align: justify;
  line-height: 1.8; 
  max-width: 900px; 
  margin: 0 auto; 
  text-indent:30px;
}

@media (max-width: 991px) {
  .wrapper {
    padding: 30px 20px;
    border-radius: 20px 20px 0 0 ;
  }
  
  .title {
    font-size: 1.6rem;
  }
  
  .content {
    font-size: 1.3rem;
    text-indent:10px;
  }
}