.card{
    border: 2px solid var(--secondary3);
    border-radius: 6px;
    min-height: 350px;
    width: 30%;
    margin: 10px 0px;
    padding: 10px;
    box-shadow: 2px 2px 5px #00000025;
    display: flexbox;
    justify-content: space-between;
    font-family: "Arimo", sans-serif;
}
.card:hover{
    border-color: var(--primary3);
    cursor: pointer;
}

.card h2{
    font-size: 24pt;
    margin-top: 16px;
    text-align: center;
}

.card p{
    font-size: 16pt;
    color: var(--secondary2);
    text-align: center;
}

.cardArtigoImg {
    border-radius: 16px;
    box-shadow: 0 6px 24px rgba(0,0,0,0.18), 0 1.5px 4px rgba(0,0,0,0.12);
}

.cardContent {
    height: 100%;
}

@media (max-width: 1199px) {
    .card{
        width: 100%;
        margin: 10px 0;
    }
}