.card{
    border: 2px solid var(--secondary3);
    min-height: 350px;
    width: 30%;
    margin: 10px 0px;
    padding: 10px;
    box-shadow: 2px 2px 5px #00000025;
    display: flexbox;
    justify-content: space-between;
}
.card:hover{
    border-color: var(--primary3);
    cursor: pointer;
    /* background-color: var(--primary4); */
}

.card h2{
    font-family: "Arimo", sans-serif;
    font-size: 24pt;
}
.card p{
    font-family: "Arimo", sans-serif;
    font-size: 16pt;
    color: var(--secondary2);
}

@media (max-width: 1199px) {
    .card{
        width: 100%;
        margin: 10px 0;
    }
}
@media (min-width: 1200px) {
    /* .card:hover{
        animation: grow 0.3s both;
    } */
}

/* @keyframes grow {
    from {
        width: 25%;
    }
    to{

        width: 26%;
    }
} */