.invitation{
    background-color: var(--secondary3);
    outline: 10px solid var(--secondary3);
    padding: 50px;
    width: calc(98vw);
    margin-left: calc(50% - 49vw);
    margin-right: calc(50% - 49vw);
    color: var(--black);
    font-family: "Arimo", sans-serif;
    overflow-wrap: break-word;
}
.invitation h2{
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 15px;
}
.invitation p{
    font-size: 1.4rem;
    text-align: justify;
    text-indent: 30px;
}

@media (max-width: 991px) {
    .invitation{
        padding: 50px 10px;
    }
}
    