/* Base styles for desktop */
.articleSection p {
    font-size: 1.3rem;
    line-height: 1.6;
    font-weight: 450;
    color: var(--black);
}

.articleSection h2 {
    font-size: 1.75rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.articleSection ul, .articleSection ol {
    font-size: 1.3rem;
    line-height: 1.6;
}

/* Tablet styles (768px - 1024px) */
@media (max-width: 1024px) and (min-width: 768px) {
    .articleSection p {
        font-size: 1.25rem;
        line-height: 1.3;
    }
    
    .articleSection h2 {
        font-size: 2rem;
    }
    
    .articleSection ul, .articleSection ol {
        font-size: 1.25rem;
    }
}

/* Smartphone styles (up to 767px) */
@media (max-width: 767px) and (min-width: 290px) {
    .articleSection p {
        font-size: 1.3rem;
        line-height: 1.7;
    }
    
    .articleSection h2 {
        font-size: 1.85rem;
    }
    
    .articleSection ul, .articleSection ol {
        font-size: 1.3rem;
    }
}

@media (max-width: 289px) {
    .articleSection p {
        font-size: 1.2rem;
        line-height: 1.8;
    }
    
    .articleSection h2 {
        font-size: 1.85rem;
    }
    
    .articleSection ul, .articleSection ol {
        font-size: 1.2rem;
    }
}