.quemSomos{
    background-color: var(--secondary3);
    outline: 10px solid var(--secondary3);
    padding: 50px 400px;
    width: calc(98vw);
    margin-left: calc(50% - 49vw);
    margin-right: calc(50% - 49vw);
    color: var(--white);
    font-family: "Arimo", sans-serif;
}
.quemSomos h1{
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}
.quemSomos p{
    font-size: 1.4rem;
    text-align: justify;
    text-indent: 30px;
}

@media (max-width: 991px) {
    .quemSomos{
        padding: 50px 10px;
    }
    .quemSomos h1{
        font-size: 2rem;
    }
    .quemSomos p{
        font-size: 1.2rem;
    }
}
