*{
    --white: #ffffff;
    --black: #000000;
    --primary1: #f05128;
    --primary2: #f37c5d;
    --primary3: #f7a893;
    --primary4: #fbd4c9;
    --secondary1: #5b5b5b;
    --secondary2: #848484;
    --secondary3: #adadad;
    --secondary4: #d6d6d6;
}